/* code applicable to devices or screens as wide as 850px */
@media screen and (max-width:850px) {
    .navigation{
        height: 70px;
    }

    .container{
        scale: 1;
        padding: 0;
    }

    .numbers-holder{
        /* border: 2px solid; */
        flex-direction: column;
        gap: 10vh;
        border-radius: 30px;
        width: 80vw;
        padding: 30px 0;
    }

    .num{
        font-size: 40px;
    }

    .social-links{
        width: 100vw;
        right: 0;
    }

}

/* code applicable to devices or screens as wide as 300px */
@media screen and (max-width:300px) {}

/* code applicable to android devices */

/* code applicable to iphone/ ipad/ ipod devices */

/* code applicable to devices on portrait orientation */

/* code applicable to devices on landscape orientation */

/* code applicable to devices that dont prefer animations */

/* code applicable to devices with adblock */

/* code applicable to devices with adblock */